* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    background-color: #73e7a2;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 999;
    position: fixed;
}

nav a {
    color: #041a0d;
    font-weight: bold;
    background: #73e7a2;
    padding: 10px;
    text-align: center;
    margin: 15px;
}

a:hover {
    color: #041a0d;
    background: #e9fbf0;
    text-decoration: underline;
}

#index {
    margin-left: 40%;
}

#name {
    background: #89ebb0;
    padding: 50px;
    padding-right: 80px;
    margin-top: 50px;
    margin-left: 150px;
    text-align: center;
    width: 130px;
    border-radius: 20px;
    font-size: 40px;
    border: 50px solid #d3ffe5;
}

#shortcuts {
    background: #89ebb0;
    padding: 20px;
    margin-top: 0px;
    margin-left: 110px;
    width: 300px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    border: 50px solid #d3ffe5;
}

#group {
    background-color: #d3ffe5;
    margin-top: 47px;
    border-radius: 20px;
    padding: 60px;
    width: 400px;
}

#image {
    background-image: url("IMG_3429 (2).jpg");
    width: 99%;
    height: -1000px;
    margin-top: 0px;
    top: 0;
    left: 0;
    margin-left: .5%;

}

#interests {
    background: #89ebb0;
    padding: 20px;
    margin-top: 0px;
    margin-left: 110px;
    width: 300px;
    border-radius: 20px;
    font-size: 20px;

    margin-top: 200px;
    width: 80%;
}

#work {
    background: #89ebb0;
    padding: 20px;
    margin-top: 0px;
    margin-left: 110px;
    width: 300px;
    border-radius: 20px;
    font-size: 20px;

    margin-top: 40px;
    width: 80%;
}

#contactform {
    background: #89ebb0 !important;
    padding: 20px;
    margin-top: 0px;
    margin-left: 110px;
    width: 300px;
    border-radius: 20px;
    font-size: 20px;

    margin-top: 40px;
    width: 80%;
}

.footer {
    margin-top: 150px;
    width: auto;
    padding: 40px;
    background: #89ebb0 !important;
    color: #000000;
    display: flex;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 50px;
}

.footer div {
    text-align: center;
}

.col-2 {
    flex-grow: 2;
}

.footer div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a {
    display: block;
    text-decoration: none;
    color: #000000;
    margin-bottom: 10px;
}
form input {
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button {
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}
.social-icons {
    margin-top: 30px;
}
.social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}