* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

nav {
    background-color: #003399;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    z-index: 999;
    position: fixed;
}

nav a {
    color: #84d6ff;
    font-weight: bold;
    background: 003399;
    padding: 10px;
    text-align: center;
    margin: 15px;
}

a:hover {
    color: #041a0d;
    background: #CCFFCC;
    text-decoration: underline;
}

#index {
    margin-left: 40%;
}

#name {

    padding: 50px;
    padding-right: 80px;
    margin-top: 50px;
    margin-left: 150px;
    text-align: center;
    width: 130px;
    border-radius: 20px;
    font-size: 40px;

}

#shortcuts {

    padding: 20px;
    margin-top: 0px;
    margin-left: 110px;
    width: 300px;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 330px;
}

#group {
    background-color: #d3ffe5;
    margin-top: 47px;
    border-radius: 20px;
    padding: 60px;
    width: 400px;
}

#image {
    background-image: url("..//2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 98.79vw;
    height: 53vw;
    margin-top: -1%;
    top: 0;
    left: 0;
    margin-left: ;
    border-bottom: ;

}

#interests {
    background: #66CCFF;
    padding: 20px;
    margin-left: 110px;
    width: 300px;
    border-radius: 20px;
    font-size: 20px;

    margin-top: 90px;
    width: 80%;
}

#work {
    background: #66CCFF;
    padding: 20px;
    margin-top: 0px;
    margin-left: 110px;
    width: 300px;
    border-radius: 20px;
    font-size: 20px;

    margin-top: 50px;
    width: 80%;
}

#contactform {
    background: #66CCFF !important;
    padding: 20px;
    margin-top: 0px;
    margin-left: 110px;
    width: 300px;
    border-radius: 20px;
    font-size: 20px;

    margin-top: 50px;
    width: 80%;
}

.footer {
    margin-top: 150px;
    width: auto;
    padding: 40px;
    background: #66CCFF !important;
    color: #000000;
    display: flex;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 50px;
}

.footer div {
    text-align: center;
}

.col-2 {
    flex-grow: 2;
}

.footer div h3 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a {
    display: block;
    text-decoration: none;
    color: #000000;
    margin-bottom: 10px;
}
form input {
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}

form button {
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

form button:hover {
    color: #041a0d;
    background: #CCFFCC;
    text-decoration: underline;
}
.social-icons {
    margin-top: 30px;
}
.social-icons i{
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

input[type=submit]:hover {
    color: #041a0d;
    background: #CCFFCC;
    text-decoration: underline;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

#about-firstimage{
    margin-right: 30%;
    display: flex;
}

h1 {
    text-align: center;
    margin-top: 6%;
}

#about-firstsection {
    background-color:#84d6ff;
    max-width: 40vw;
    padding: 10px;
    border-radius: 20px;
    margin-top: 7%;
    margin-left: 6%;
}