form {
    background-color: #edf0f5;
    margin: auto;
    width: 70%;
    padding: 10px;
    min-width: 410px;
    max-width: 410px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: "Freight Sans", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
}

#submit {
    background-color: #659d50;
    color: white;
    font-size: 19px;
    width: 200px;
    border-radius: 8px;
    padding: 6px;
    border-style: none;
}

h1 {
    margin-bottom: -10px;
}

#firstname, #lastname, #reemail {
    margin-top: 10px;
    margin-bottom: 10px;
}

#password {
    margin-bottom: 10px;
}

#day, #month, #year {
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    font-size: 15px;
    padding: 5px;
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    border-width: 1px;
}

#footer {
    font-size: 11px;
}

* {
    vertical-align: auto;
    font-family: "Freight Sans", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
}

#email, #reemail, #password {
    width: 97%;
}

#lastname {
    float: right !important; 
}

#lastname, #firstname {
    width: 45%;
}

#question {
    font-size: 10px;
    color: rgb(34, 114, 141);
    display: block;
    float: right;
    margin-right: 100px;
}

a {
    text-decoration: none;
}

#bold {
    font-weight: bold;
}

#test {
    height: 100%;
    width: 100%;
    display: flex;
}
