td {
    padding: 2%;
}

#calc {
    background-color: rgb(84, 216, 84);
}

#reset {
    background-color: yellow;
}

input {
    min-width: 100px;
    max-width: 100px;
}

table {
    margin: auto;
    width: 70%;
    padding: 10px;
    min-width: 410px;
    max-width: 410px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: aquamarine;
    margin: 25%;
}
