body {
    margin: 25%;
    background-color: aquamarine;
}

td {
    padding: 2%;
}

#calc {
    background-color: rgb(84, 216, 84);
}

#reset {
    background-color: yellow;
}

input {
    max-width: 100px;
}
